<div>
    <h2 translate="jhipstercrmdemoApp.customer.home.title">Customers</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="customer.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
class="hidden-xs"                        translate="jhipstercrmdemoApp.customer.home.createLabel">Create new Customer
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'jhipstercrmdemoApp.customer.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="jhipstercrmdemoApp.customer.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="contactperson"><span translate="jhipstercrmdemoApp.customer.contactperson">Contactperson</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phone"><span translate="jhipstercrmdemoApp.customer.phone">Phone</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email"><span translate="jhipstercrmdemoApp.customer.email">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="country"><span translate="jhipstercrmdemoApp.customer.country">Country</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="city"><span translate="jhipstercrmdemoApp.customer.city">City</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="postcode"><span translate="jhipstercrmdemoApp.customer.postcode">Postcode</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="street"><span translate="jhipstercrmdemoApp.customer.street">Street</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="comment"><span translate="jhipstercrmdemoApp.customer.comment">Comment</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isprivate"><span translate="jhipstercrmdemoApp.customer.isprivate">Isprivate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="customer in customers track by customer.id">
                    <td><a ui-sref="customer.detail({id:customer.id})">{{customer.id}}</a></td>
                    <td>{{customer.name}}</td>
                    <td>{{customer.contactperson}}</td>
                    <td>{{customer.phone}}</td>
                    <td>{{customer.email}}</td>
                    <td>{{customer.country}}</td>
                    <td>{{customer.city}}</td>
                    <td>{{customer.postcode}}</td>
                    <td>{{customer.street}}</td>
                    <td>{{customer.comment}}</td>
                    <td>{{customer.isprivate}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="customer.detail({id:customer.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="customer.edit({id:customer.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="customer.delete({id:customer.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
