<div>
    <h2 translate="jhipstercrmdemoApp.orders.home.title">Orderss</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="orders.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
class="hidden-xs"                        translate="jhipstercrmdemoApp.orders.home.createLabel">Create new Orders
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="{{ 'jhipstercrmdemoApp.orders.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="search()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="details"><span translate="jhipstercrmdemoApp.orders.details">Details</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date"><span translate="jhipstercrmdemoApp.orders.date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="customer.name"><span translate="jhipstercrmdemoApp.orders.customer">customer</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fruitpack.name"><span translate="jhipstercrmdemoApp.orders.fruitpack">fruitpack</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="week.name"><span translate="jhipstercrmdemoApp.orders.week">week</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="deliveryday.name"><span translate="jhipstercrmdemoApp.orders.deliveryday">deliveryday</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="orders in orderss track by orders.id">
                    <td><a ui-sref="orders.detail({id:orders.id})">{{orders.id}}</a></td>
                    <td>{{orders.details}}</td>
                        <td>{{orders.date | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="customer.detail({id:orders.customer.id})">{{orders.customer.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="fruitpack.detail({id:orders.fruitpack.id})">{{orders.fruitpack.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="week.detail({id:orders.week.id})">{{orders.week.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="deliveryday.detail({id:orders.deliveryday.id})">{{orders.deliveryday.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="orders.detail({id:orders.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="orders.edit({id:orders.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="orders.delete({id:orders.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
